<nav class="navbar fixed-top navbar-expand-lg navbar-dark vet-nav-bg-green">
  <div class="container">
    <a class="navbar-brand" routerLink="/welcome">VetMed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/team">Zespół</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Osiągnięcia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kalendarium</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
       </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav align-items-end">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="#"><span class="fab fa-youtube fa-1.5x"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="fab fa-twitter fa-1.5x"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="fab fa-facebook fa-1.5x"></span></a>
            </li>
          </ul>
       </div>
     </div>
  </div>
</nav>
