<footer class="pt-5 footer vet-footer-green">
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-4">
        <h5 class="vet-footer-label">Dane kontaktowe</h5>
        <address>
          <strong>MedVet</strong><br>
          Warszawa<br>
          Aleje Jerozolomiskie 00<br>
          <abbr title="Telefon">tel:</abbr> (32) 12-34-56
        </address>
      </div>
      <div class="col-lg-4">
        <h5 class="vet-footer-label">Newsletter</h5>
        <form class="form-inline">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-success" type="button" id="button-addon2">Zapisz się</button>
            </div>
          </div>
        </form>
        <h5 class="vet-footer-label">Kontkat</h5>
        <address>
          <a href="mailto:#">kontakt@example.com</a>
        </address>
      </div>
      <div class="col-lg-4">
        <h5 class="vet-footer-label">Współpracujemy z</h5>
      </div>
    </div>
  </div>
</footer>
