<section class="vet-section-wellcome">
  <div class="container">
     <div class="row h-100 align-items-center vet-row-wellcom">
      <div class="col-lg-6 col-md-6">

      </div>
      <div class="col-lg-6 col-md-6 h-100 d-table">
        <div class="jumbotron p-4 p-md-5 rounded vet-jumbotron-green">
          <h2 class="display-5">VetMed<small> - Przychodnia weterynaryjna</small></h2>
          <hr>
          <blockquote class="blockquote text-right">
            <p class="mb-0">Wszystko o zwierzętach i dla zwierząt</p>
              <footer class="blockquote-footer">Miejsce godne polecenia<cite title="Source Title">Twój pupil</cite></footer>
          </blockquote>
        </div>
      </div>
     </div>
  </div>
</section>
<section class="vet-section-invitation">
  <div class="container">
    <div class="row vet-row-invitation">
      <div class="col-lg-6 col-md-6">



      </div>
      <div class="col-lg-6 col-md-6">


      </div>
    </div>
  </div>
</section>
<section class="vet-section-shortened">
<div class="container">
    <div class="row vet-row-shortened justify-content-lg-center">
      <div class="col-lg-6 col-md-6 text-center">

        <h3>Godziny otwarcia</h3>

      </div>
      <div class="col-lg-6 col-md-6 text-center">

        <h3>Podstawowe usługi</h3>

      </div>
    </div>
  </div>
</section>
